@charset "ISO-8859-1";
body{
	font-family: helvetica;
}
p{
	font-weight: bold;
}
.ddp{
	border: dashed 3px;
	background-color: lightblue;
}
.ddp2{
	border: dashed 3px;
	background-color: lightcoral;
}
.ddp3{
	border: dashed 3px;
	background-color: lightgreen; 
	text-align: center;
}
.dadospessoais{
	background-color: lightblue;
}
.dadosprofissionais{
	background-color: lightcoral;
}
.acao{
	background-color: lightgreen;
}
.caixas{
	background-color: khaki;
}
textarea{
	height: 200px;
	width: 1000px;
}
#botao1{
	font-weight: bold;
	padding: 10px;
	background-color:#088A08;
	color: white;
	margin-left: 20px;
	border-color: white;
	
}
#botao2{
	font-weight: bold;
	padding: 10px;
	background-color:#FF8000;
	color: white;
	border-color: white;
	margin-left: 20px;
	
}